.foot-div {
    background-color: var(--main);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;

}

.foot {
    background-color: var(--main);

}

.logo {
    margin: .5em .3em;
    font-size: 50px;
    cursor: pointer;
    color: var(--font_2);
}