* {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

:root {
  --main: #D8E3E7;
  --seacond: #51C4D3;
  --inputs: #9cf3ff;
  --font_1: #126E82;
  --font_2: #132C33;
  --font_3: #1B1A17;
}

body {
  background-color: var(--seacond);
}